#ignore binary files
**/*.o
**/ui_*.*
**/moc_*.*
**/qrc_*.*
**/Makefile
**/*pro.user
**/*.autosave
**/*.sln
**/*.sdf
**/*.user
**/*vcxproj*
**/*~
**/*.swp
**/*.suo
**/*.pdb
**/*.obj
**/*.Debug
**/*.zip
**/ipch



#ignore symlink folder
bin
v3d_main
**/v3d_plugins/neurontracing_neutube/src_neutube
**/Makefile*
**/Makefile
**/release/*
