PLUGIN_NAME="plugin_creator"
PLUGIN_CLASS="PluginCreatorPlugin"
WINDOW_TITLE="Plugin Creator Plugin"
PLUGIN_DESCRIPTION="This plugin is used to produce v3d plugin project from a template file"
PLUGIN_DATE="2012-01-27"
PLUGIN_AUTHOR="Hang Xiao"
PLUGIN_GUI="plugin_creator_gui.h"
V3D_MAIN_PATH="../../../../../../v3d_external/v3d_main"

MENUS=("create plugin")
FUNCS=("create_plugin")

#DOFUNC="yes"
