*.bak
*.orig
*.dylib
*.a
*.o
*.tar.gz
*.zip
*.tar.bz2
*.rar
*~
*.pro.user*
.DS_Store

!/neurolabi/gui/ext/win/lib/win64/*.a

# qtcreator c project file
/neurolabi/c/clib.*

# data file
/neurolabi/data/

# binary file
obj/*.*
bin/*.*
obj64/*.*
release/*.*
/neurolabi/app/
/neurolabi/lib/genelib/src/*.c
/neurolabi/c/config.log
/neurolabi/lib/genelib/src/config.log
*-build-desktop-Qt*/
gui-build-Desktop-*/
gui-build-Desktop*-*/
build-gui-Desktop-*/
build-gui-Desktop*-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
/neurolabi/lib/genelib/src/Makefile


/neurolabi/gui/gui.pro.user*
/neurolabi/c/c_lib.creator.user*
/neurolabi/c/Makefile-def
/neurolabi/c/config.status
/neurolabi/c/include/neurolabi_config.h
/neurolabi/lib/genelib/src/config.status

# gen file
/neurolabi/c/tz_darray.c
/neurolabi/c/tz_darray.h
/neurolabi/c/tz_dimage_lib.c
/neurolabi/c/tz_dimage_lib.h
/neurolabi/c/tz_dmatrix.c
/neurolabi/c/tz_dmatrix.h
/neurolabi/c/tz_double_linked_list.c
/neurolabi/c/tz_double_linked_list.h
/neurolabi/c/tz_farray.c
/neurolabi/c/tz_farray.h
/neurolabi/c/tz_fftw.c
/neurolabi/c/tz_fftw.h
/neurolabi/c/tz_fftwf.c
/neurolabi/c/tz_fftwf.h
/neurolabi/c/tz_fimage_lib.c
/neurolabi/c/tz_fimage_lib.h
/neurolabi/c/tz_fmatrix.c
/neurolabi/c/tz_fmatrix.h
/neurolabi/c/tz_iarray.c
/neurolabi/c/tz_iarray.h
/neurolabi/c/tz_i64array.c
/neurolabi/c/tz_i64array.h
/neurolabi/c/tz_iimage_lib.c
/neurolabi/c/tz_iimage_lib.h
/neurolabi/c/tz_imatrix.c
/neurolabi/c/tz_imatrix.h
/neurolabi/c/tz_int_arraylist.c
/neurolabi/c/tz_int_arraylist.h
/neurolabi/c/tz_int64_arraylist.c
/neurolabi/c/tz_int64_arraylist.h
/neurolabi/c/tz_int_doubly_linked_list.c
/neurolabi/c/tz_int_doubly_linked_list.h
/neurolabi/c/tz_int_linked_list.c
/neurolabi/c/tz_int_linked_list.h
/neurolabi/c/tz_local_neuroseg_doubly_linked_list.c
/neurolabi/c/tz_local_neuroseg_doubly_linked_list.h
/neurolabi/c/tz_local_neuroseg_ellipse_doubly_linked_list.c
/neurolabi/c/tz_local_neuroseg_ellipse_doubly_linked_list.h
/neurolabi/c/tz_local_neuroseg_plane_doubly_linked_list.c
/neurolabi/c/tz_local_neuroseg_plane_doubly_linked_list.h
/neurolabi/c/tz_locne_chain_com.c
/neurolabi/c/tz_locne_chain_com.h
/neurolabi/c/tz_locne_node.c
/neurolabi/c/tz_locne_node.h
/neurolabi/c/tz_locne_node_doubly_linked_list.c
/neurolabi/c/tz_locne_node_doubly_linked_list.h
/neurolabi/c/tz_locnp_chain_com.c
/neurolabi/c/tz_locnp_chain_com.h
/neurolabi/c/tz_locnp_node.c
/neurolabi/c/tz_locnp_node.h
/neurolabi/c/tz_locnp_node_doubly_linked_list.c
/neurolabi/c/tz_locnp_node_doubly_linked_list.h
/neurolabi/c/tz_locrect_chain_com.c
/neurolabi/c/tz_locrect_chain_com.h
/neurolabi/c/tz_locrect_node.c
/neurolabi/c/tz_locrect_node.h
/neurolabi/c/tz_locrect_node_doubly_linked_list.c
/neurolabi/c/tz_locrect_node_doubly_linked_list.h
/neurolabi/c/tz_locseg_chain_com.c
/neurolabi/c/tz_locseg_chain_com.h
/neurolabi/c/tz_locseg_node.c
/neurolabi/c/tz_locseg_node.h
/neurolabi/c/tz_locseg_node_doubly_linked_list.c
/neurolabi/c/tz_locseg_node_doubly_linked_list.h
/neurolabi/c/tz_neuron_component_arraylist.c
/neurolabi/c/tz_neuron_component_arraylist.h
/neurolabi/c/tz_object_3d_linked_list.c
/neurolabi/c/tz_object_3d_linked_list.h
/neurolabi/c/tz_stack_tile_arraylist.c
/neurolabi/c/tz_stack_tile_arraylist.h
/neurolabi/c/tz_stack_tile_i_arraylist.c
/neurolabi/c/tz_stack_tile_i_arraylist.h
/neurolabi/c/tz_swc_arraylist.c
/neurolabi/c/tz_swc_arraylist.h
/neurolabi/c/tz_u16array.c
/neurolabi/c/tz_u16array.h
/neurolabi/c/tz_u8array.c
/neurolabi/c/tz_u8array.h
/neurolabi/c/tz_u8matrix.c
/neurolabi/c/tz_u8matrix.h
/neurolabi/c/tz_unipointer_arraylist.c
/neurolabi/c/tz_unipointer_arraylist.h
/neurolabi/c/tz_unipointer_linked_list.c
/neurolabi/c/tz_unipointer_linked_list.h
/neurolabi/c/tz_voxel_linked_list.c
/neurolabi/c/tz_voxel_linked_list.h
