<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/statics/tiff.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="/statics/UTIF.js"></script>
<script src="~/statics/Three.js"></script>
<script src="/statics/OrbitControls.js"></script>
<script src="/statics/FirstPersonControls.js"></script>
<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<!--
<script src="~/js/VirtualPyramid.js"></script>  -->
<!-- <script src="~/js/SingleFile.js"></script> -->

<script src="~/layer-v3.1.1/layer-v3.1.1/layer/layer.js"></script>

<link rel="stylesheet" type="text/css" href="~/css/moblie.css" />
<link rel="stylesheet" href="~/layui-v2.4.5/layui/css/layui.css" />
<script src="~/hotcss-master/src/hotcss.js"></script>
<script src="~/layer-v3.1.1/layer-v3.1.1/layer/layer.js"></script>
<script src="~/js/volumeRendering.js"></script>
<script src="~/js/VolumeShader.js"></script>
<script src="~/js/WebGL.js"></script>
<script src="~/js/Lut.js"></script>
<script src="~/js/progressbar.js"></script>
<script src="~/js/VirtualPyramid5.js"></script>
<script src="~/js/SingleFile5.js"></script>
<script src="~/js/imagefunction.js"></script>
<script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
<script src="~/js/css3-mediaqueries.js"></script>
<script src="~/js/mainstyle.js"></script>
<link href="~/drawpanel.html"/>


<meta name="hotcss" content="design-width=640" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">

<body>
    <div class="layui-container">


        <ul id="nave" class=" layui-nav layui-bg-cyan " lay-filter="">
            <li id="File" class="layui-nav-item ">
                <a href="javascript:;"><i class="fa fa-file" style="font-size:.7rem"> File</i></a>
                <dl id="openfile" class="layui-nav-child">
                    <dd id="openfiles">
                        <a href="javascript:;" onclick="getPictures()"> <i class="fa fa-globe" style="font-size:.68rem"> open</i></a>
                    </dd>

                    <dd id="save">
                        <a href="javascript:;"><i class="fa fa-save" style="font-size:.68rem"> save</i></a>
                    </dd>
                </dl>
            </li>

            <li id="Edit" class="layui-nav-item ">
                <a href="javascript:;"><i class="fa  fa-edit" style="font-size:.7rem"> Edit</i></a>
                <dl class="layui-nav-child">
                    <dd id="draw"><a href="javascript:;" onclick="draw()"><i class="fa fa-pencil" style="font-size:.68rem"> draw</i></a></dd>
                    <dd><a href="javascript:;"><i class="fa fa-trash " style="font-size:.68rem"> delete</i></a></dd>
                    <dd><a href="javascript:;"><i class="fa fa-undo" style="font-size:.68rem"> undo</i></a></dd>
                    <dd><a href="javascript:;"><i class="fa fa-repeat" style="font-size:.68rem"> redo</i></a></dd>
                    <dd><a href="javascript:;"><i class="fa fa-mouse-pointer" style="font-size:.68rem"> select all</i></a></dd>
                </dl>
            </li>

            <li id="Tools" class="layui-nav-item ">
                <a href="javascript:;"><i class="fa  fa-wrench " style="font-size:.7rem"> Tools</i></a>
                <dl id="second-nave-tools" class="layui-nav-child">
                    <dd><a href="#"><i class="fa  fa-camera " style="font-size:.6rem;"> screen shot</i></a></dd>
                </dl>
            </li>

            <li id="help" class="layui-nav-item ">
                <a href="javascript:;"> <i class="fa fa-hand-stop-o " style="font-size:.7rem"> Help</i></a>
            </li>

        </ul>



        <div id="view">
            <i id="fullscreen" class="fa fa-expand" aria-hidden="true" style="width:1rem;float:right;font-size:.8rem;bottom:0;"></i>
        </div>



    </div>

    <div class="drawpanel" style="display:none">
        <div class="contrast">
            <i>Contrast</i><br />
            <input class="row" type="range" min="0" max="10" id="contrast" name="point1" style="" /><br />
        </div>
        <div class="color">
            <i>Line color</i><br />
            <input type="color" id="color" />
        </div>
        <br />
        <div>
            <i>Line size</i><br />
            <select id="line-size-select" style="width:80px;height:25px">
                <option label="1pt" value="1pt" selected>1pt</option>
                <option label="2pt" value="2pt">2pt</option>
                <option label="3pt" value="3pt">3pt</option>
            </select>
        </div>
            
    </div>

</body>

<script src="~/layui-v2.4.5/layui/layui.all.js" charset="utf-8"></script>
<script type="text/javascript">
    hotcss.designWidth = 320;

    console.log(hotcss.px2rem(20));//每个单位像素值及设计屏幕尺寸
    console.log(hotcss.rem2px(1));

    //一般直接写在一个js文件中
    ; !function () {
        //无需再执行layui.use()方法加载模块，直接使用即可
        var form = layui.form
            , layer = layui.layer;

        //…
    }();
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });

    });
    //根据设备的不同选择不同的样式表，主要针对移动设备和pc端
    var isMobile = device.mobile();
    var isTable = device.tablet();
    if (isMobile | isTable) {
        window.open('', '_self');
        console.log("mobile");
    }
    else {
        window.open('/Home/pc', '_self');
        //window.location.href = '/Home/About';
        console.log("pc");
    }
    //显示文件读取进度
    // document.getElementById('vaa3dweb-input-open-local').addEventListener('change', handleFileSelect, false);


   



    $('#open-local').on('click', function () {//打开本地文件夹
        $('#vaa3dweb-input-open-local').click();

    });
    $('#fullscreen').on('click', function () {
        if ($('#nave').css('display') == 'none') {//恢复正常页面
            $('#nave').show();           
            $('#view').css('height', '25.8rem');
            $('#fullscreen').removeClass();
            $('#fullscreen').addClass('fa fa-expand');
            //console.log($('#fullscreen').hasClass('fa fa-compress') );
           
            renderer.setSize(document.getElementById('view').clientWidth, document.getElementById('view').clientHeight);
            
        }
        else {//全屏并隐藏控制面板
            $('#nave').hide();
            $('#fullscreen').removeClass();
            $('#fullscreen').addClass('fa fa-compress ');
            //full_screen();//全屏
            $('#view').css('height', '28.2rem');
            renderer.setSize(document.getElementById('view').clientWidth, document.getElementById('view').clientHeight);
            console.log("full screen");
        }
       
        //renderer.render(scene, camera);
        $('#show-panel').show();//显示打开控制面板按钮
    });

    $('#help').on('click', function () {
        layer.open({
            type: 1,
            area: ['70%', '50%'],//宽度，高度
            shadeClose: true, //点击遮罩关闭
            content: 'help information',
            title: ['HELP', 'font-size:18px;background-color:rgba(25, 104, 150, 0.91)'],
            offset: ['8%', '15%'],//上方，左边
            closeBtn: 1,//关闭按钮
        });


    });
    $('#draw').on('click', function () {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            skin: 'layui-layer-rim',
            area: ['70%', '50%'],
            title: ['Draw Panel','font-size:18px;background-color:cornflowerblue'],
            offset: ['10%', '15%'],
            closeBtn: 1,//关闭按钮
            content: $('.drawpanel').html()
        });
    });
    
   






    
   

    //document.addEventListener("webkitfullscreenchange", show_panel());


  //  if (document.webkitIsFullScreen) {
  //      alert("sdsafdfd");
  //      $('#left-content').on('mouseover', function () {//********************移除鼠标后应该隐藏
  ////          $('#right-content').hide();
  //          $('#left-content').css('width', '99%');
  //          $('#show-panel').show();
  //      });
  //
 //   }
 //   $('#open-url').on('click', function () {


      //  window.open("openurl.html", "Input URL to open", "height=80, width=300,top=20px,left=50%, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")

        //找不到页面？路径不对？

//
    //});
   // $(document).ready(function () {
    //    var target = "#app";
    ///    $('#show3d').html(target);

   // });

   // function menu_show(str) {

  //      var sub_menu = document.getElementById(str);

    //    if (sub_menu.style.display == "none")
    //        sub_menu.style.display = "block";
     //   else
     //       sub_menu.style.display = "none";

   // }

  //  $(document).ready(function () {
    //   $("#File").click(function () {
      //     $("#second-nave-open").show();
     //  });
   // });
</script>

