<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/tiff.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="/statics/UTIF.js"></script>
<script src="https://unpkg.com/three"></script>
<script src="/statics/OrbitControls.js"></script>
<script src="/statics/FirstPersonControls.js"></script>
<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="/js/JavaScript.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

@*<link rel="stylesheet" href="~/css/mainstyle.css"/>*@
<body>
    <div id="main-content">


        <div id="left-content">
            <div id="view">

            </div>
        </div>


        <div id="show-panel" onclick="show_panel()"></div>

        <div id="right-content">

            <div id="logo">
                <img /><!--logo-->
            </div>

            <div id="menu">
                <ul id="nave">
                    <li id="File" class="show" data-content="openfile" tabindex="-1">
                        <span>File</span>
                        <ul id="openfile">
                            <li>
                                <span>open...</span>
                                <ul id="thrid-nave-open">

                                    <li id="open-local"><p>open from local<input type="file" class="form-control hidden" id="vaa3dweb-input-open-local" accept="" multiple="multiple" /></p></li>

                                    <li id="open-server" onclick="getPictures()"><p>open from server</p></li> <!--未实现-->
                                    <li id="open-url"><p>open by URL</p></li>
                                </ul>
                            </li>

                            <li id="save">
                                <span>save...</span>
                                <ul id="thrid-nave-save">
                                    <li><p>save</p></li>
                                    <li><p>save as</p></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li id="Edit" class="show" data-content="second-nave-edit" tabindex="0">
                        <span>Edit</span>
                        <ul id="second-nave-edit">
                            <li><p>draw</p></li>
                            <li><p>delete</p></li>
                            <li><p>undo</p></li>
                            <li><p>redo</p></li>
                            <li><p>select all</p></li>
                        </ul>
                    </li>
                    <li id="Tools" class="show" data-content="second-nave-tools" tabindex="1">
                        <span>Tools</span>
                        <ul id="second-nave-tools">
                            <li><p>screen shot</p></li>
                        </ul>
                    </li>

                    <li><a href="" title="Help">Help</a></li>
                    <li><a href="" title="About">About</a></li>
                </ul>
            </div>
            <div class="panel" id="Vaa3Dweb-panel">
                <div class="panel-body">
                    <div class="panel-group1" id="Waa3Dweb-panelgroup-img">
                        <div id="title1"><h2 style="text-align:center;">Img</h2></div><br /><br /><br />
                        <div class="contrast">
                            <span>Contrast</span>
                            <p><input type="range" min="0" max="10" id="contrast" name="point1" style="" /></p>

                            <input id="fullscreen" type="button" value="full screen" onclick="renderer.setSize(width, height);renderer.render(scene, camera);" />
                        </div>
                        <br /><br />
                    </div>


                    <div class="panel-group2" id="Waa3Dweb-panelgroup-draw">
                        <div id="title2"><h2 style="text-align:center">Draw</h2></div><br /><br /><br />
                        <div>
                            <span>Line Size</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select id="line-size-select">
                                <option label="1pt" value="1pt" selected>1pt</option>
                                <option label="2pt" value="2pt">2pt</option>
                                <option label="3pt" value="3pt">3pt</option>
                            </select>
                        </div><br />

                        <div class="color">
                            <span>Line Color</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="color" id="color" />



                        </div>
                        <br />
                        <div><input type="button" id="close" value="close" />  </div>
                        <br /><br />
                    </div>





                </div>
            </div>




        </div>
    </div>
</body>

<script type="text/javascript">
    $('.show').on('click', function () {//单击隐藏或显示下拉菜单
        var code = $(this).data('content');
        if ($('#' + code).css('display') == 'none') {
            $('#' + code).show();
        }
        else {
            $('#' + code).hide();
        }



    });
    $('.show').on('blur', function () {//失去光标隐藏下拉菜单
        var code = $(this).data('content');
        $('#' + code).hide();
    });


    $('#open-local').on('click', function () {//打开本地文件夹
        $('#vaa3dweb-input-open-local').click();

    });
    $('#fullscreen').on('click', function () {

        $('#right-content').hide();
        $('#left-content').css('width', '98%');
        $('#show-panel').show();
       
    });

    function show_panel() {
        $('#right-content').show();
        $('#show-panel').hide();
        $('#left-content').css('width', '70%');

    }

 //   $('#open-url').on('click', function () {


      //  window.open("openurl.html", "Input URL to open", "height=80, width=300,top=20px,left=50%, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")

        //找不到页面？路径不对？

//
    //});
   // $(document).ready(function () {
    //    var target = "#app";
    ///    $('#show3d').html(target);

   // });

   // function menu_show(str) {

  //      var sub_menu = document.getElementById(str);

    //    if (sub_menu.style.display == "none")
    //        sub_menu.style.display = "block";
     //   else
     //       sub_menu.style.display = "none";

   // }

  //  $(document).ready(function () {
    //   $("#File").click(function () {
      //     $("#second-nave-open").show();
     //  });
   // });
</script>

